
@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";
.termsAndConditions {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.748);
    color: $footer-gray;
    font-size: 12px;
    p {
      width: 70%;
      text-align: center;
      margin: 5px auto;
  
      @media screen and (max-width: $tablet-M) {
        width: 90%;
        font-size: 10px;
      }
    }
    a {
      text-decoration: underline;
    }
  }