@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

.discountedPaymentPageWrapper {
  width: 100%;
  height: 100vh;

  .headerWrapper {
    display: flex;
    padding-top: 10px;
    color: $white;

    .header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      letter-spacing: 1px;

      .imageHeader {
        width: 150px;
        @media screen and (max-width: $tablet-M) {
          width: 100px;
        }

        img {
          width: 100%;
        }
      }
      .headerText {
        text-align: center;
        span {
          color: red;
        }
      }
      .percent {
        color: $dark-pink;
        font-weight: bold;
        font-size: 18px;
      }
      .timeLeft {
        margin-top: 20px;

        .timer {
          color: red;
        }
      }
    }

    // .wrapperArrow {
    //   background-color: $arrow-blue;
    //   position: absolute;
    //   width: 50px;
    //   height: 50px;
    //   border-radius: 50%;
    //   margin-left: 10px;
    //   &:hover {
    //     background-color: rgba(255, 255, 255, 0.734);
    //     scale: 1.1;
    //   }

    //   .arrowBack {
    //     color: $white;
    //     position: absolute;
    //     left: 16px;
    //     top: 10px;
    //     font-size: 30px;
    //     cursor: pointer;
    //     &:hover {
    //       color: $arrow-blue;
    //     }
    //   }
    // }
    .prices {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;

      .oldPrice {
        text-decoration: line-through;
        margin-right: 10px;
        color: $price-blue;
      }
      .newPrice {
        font-weight: bold;
      }
    }
  }
}
// .termsAndConditions {
//   position: absolute;
//   bottom: 0;
//   background-color: rgba(255, 255, 255, 0.748);
//   color: $footer-gray;
//   font-size: 12px;
//   p {
//     width: 70%;
//     text-align: center;
//     margin: 5px auto;

//     @media screen and (max-width: $tablet-M) {
//       width: 90%;
//       font-size: 10px;
//     }
//   }
//   a {
//     text-decoration: underline;
//   }
// }
