
.custom-scrollbar {
  max-height: 300px;
  overflow-y: scroll; 
  padding: 10px;
}

@media  (min-width:1700px) {
  .custom-scrollbar{
    max-height: 400px;
  }
  
}
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #8178d9; 
}
