$desktop-XL: 2048px;
$laptop-L: 1600px;
$laptop-S: 1350px;
$laptop-XS: 1100px;
$tablet-XL: 900px;
$tablet-L: 800px;
$tablet-M: 748px;
$tablet-S: 700px;
$tablet-XS: 650px;
$phone-L: 450px;
$phone-M: 390px;
$phone-S: 360px;
$phone-XS: 320px;
