$white: #ffffff;
$black: #000000;
$gray: rgb(175, 174, 174);
$dark-gray:#545252;
$purple:rgb(121, 55, 160);
$btn-purple:rgb(112, 32, 197);
$card-gradient: linear-gradient(
  180deg,
  rgba(216, 216, 218, 1) 0%,
  rgba(199, 199, 207, 1) 1%,
  rgba(24, 24, 25, 1) 10%,
  rgba(12, 12, 12, 1) 100%
);
$pink: #e99ec2;
$dark-pink: #cf4d8c;
$button-hover:#ef6eae;
$price-blue: rgb(5, 5, 198);
$arrow-blue:rgb(18, 18, 114);
$footer-color:rgba(5, 5, 32, 0.361);
$footer-gray:rgb(99, 98, 98);