.pricingWrapper {
  width: 33.3%;
  color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 450px;
}
@media screen and (max-width: 748px) {
  .pricingWrapper {
    padding: 3px;
  }
}
.pricingWrapper .pricingTable {
  border-radius: 10px;
  height: 100%;
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(216, 216, 218) 0%, rgb(199, 199, 207) 1%, rgb(24, 24, 25) 10%, rgb(12, 12, 12) 100%);
  transition: all 0.5s ease-out;
}
.pricingWrapper .pricingTable:hover, .pricingWrapper .pricingTable:focus {
  transform: scale(1.01);
  background: linear-gradient(180deg, rgb(210, 67, 209) 10%, rgb(105, 33, 182) 10%, rgb(12, 12, 12) 78%);
}
@media screen and (max-width: 748px) {
  .pricingWrapper .pricingTable {
    font-size: 12px;
  }
}
.pricingWrapper .clickedCard {
  border-radius: 10px;
  height: 100%;
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(210, 67, 209) 10%, rgb(105, 33, 182) 10%, rgb(12, 12, 12) 78%);
}
@media screen and (max-width: 748px) {
  .pricingWrapper .clickedCard {
    font-size: 12px;
  }
}
.pricingWrapper .pricingSubtitle {
  color: #e99ec2;
  margin: 10px 0;
  font-size: 20px;
}
@media screen and (max-width: 748px) {
  .pricingWrapper .pricingSubtitle {
    font-size: 18px;
  }
}
.pricingWrapper .pricingTitle {
  color: #ffffff;
  margin-top: 30px;
  font-size: 28px;
}
@media screen and (max-width: 748px) {
  .pricingWrapper .pricingTitle {
    font-size: 22px;
  }
}
.pricingWrapper .pricingName {
  color: #ffffff;
  font-size: 20px;
}
@media screen and (max-width: 748px) {
  .pricingWrapper .pricingName {
    font-size: 18px;
  }
}
.pricingWrapper .price {
  font-size: 22px;
  color: #e99ec2;
}
@media screen and (max-width: 748px) {
  .pricingWrapper .price {
    font-size: 20px;
  }
}
.pricingWrapper .arrow {
  color: #cf4d8c;
  font-size: 50px;
  cursor: pointer;
}
@media screen and (max-width: 748px) {
  .pricingWrapper .arrow {
    font-size: 40px;
  }
}

ul {
  list-style: none;
  margin: 10px 0;
}
ul li {
  line-height: 22px;
}
@media screen and (max-width: 748px) {
  ul li {
    line-height: 18px;
  }
}

.dropdownToggle {
  background-color: none;
}

.short {
  font-size: 20px;
}
@media screen and (max-width: 748px) {
  .short {
    font-size: 14px;
  }
}

.trialPeriod {
  font-size: 10px;
  color: rgb(175, 174, 174);
}

.discount {
  font-size: 18px;
  margin-bottom: 5px;
}