.planPage {
  display: flex;
  flex-direction: column;
}
.planPage .starWrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.planPage .starWrapper .star {
  width: 25%;
  height: 25%;
}
@media screen and (max-width: 1440px) {
  .planPage .starWrapper .star {
    width: 40%;
    height: 40%;
  }
}
@media screen and (max-width: 800px) {
  .planPage .starWrapper .star {
    height: 60%;
    width: 60%;
  }
}
.planPage .subtitle {
  color: #e99ec2;
  text-align: center;
  margin: 20px;
  font-size: 24px;
  font-weight: 400;
}
.planPage .title {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
.planPage .pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}
.planPage button {
  color: var(--color);
  transition: 0.25s;
}
.planPage button:hover, .planPage button:focus {
  border-color: var(--hover);
  color: #fff;
}
.planPage .buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.planPage .buttonWrapper .pulse {
  background-color: rgb(121, 55, 160);
  color: #ffffff;
  border-radius: 16px;
  font-size: 26px;
  width: 250px;
  padding: 10px;
  border: 0 solid;
  cursor: pointer;
}
.planPage .buttonWrapper .pulse:hover, .planPage .buttonWrapper .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.textPurple {
  color: rgb(121, 55, 160);
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}