section {
  display: flex;
  flex-flow: column;
  align-items: center;
}
section .container {
  transition: all 0.3s ease;
}
section .container h1 {
  margin: 15px 0 0 0;
}
section .container h3 {
  margin: 0 0 25px 0;
}
@media (max-width: 992px) {
  section {
    padding: 0 20px 0 20px;
  }
}

.slideOption {
  margin: 0 0 50px 0;
}
.slideOption .no-marg {
  margin: 0 0 0 0;
}

.highwaySlider {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 300px;
}

.highwayBarrier {
  overflow: hidden;
  position: relative;
}

.highwayLane {
  display: flex;
  height: 100%;
}
.highwayLane .sliderImage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343434;
}
.highwayLane .sliderImage .img {
  width: 300px;
  height: 300px;
}

@keyframes translateinfinite {
  100% {
    transform: translateX(-900px);
  }
}
#infinite .highwayBarrier {
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);
}
#infinite .highwayBarrier::before, #infinite .highwayBarrier::after {
  content: " ";
  position: absolute;
  z-index: 9;
  width: 300px;
  height: 100%;
}

.highwayLane {
  width: 1500px;
}
.highwayLane .sliderImage {
  width: 300px;
  animation: translateinfinite 10s linear infinite;
}
.highwayLane .sliderImage .img {
  width: 300px;
  height: 200px;
}