@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

.wrapperArrow {
  background-color: $arrow-blue;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.734);
    scale: 1.1;
  }

  .arrowBack {
    color: $white;
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: $arrow-blue;
    }
  }
}
