.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
@media screen and (max-width: 748px) {
  .cards {
    padding: 5px;
  }
}