.bg-black {
  background: rgb(216, 216, 218);
  background: linear-gradient(180deg, rgb(216, 216, 218) 0%, rgb(199, 199, 207) 2%, rgb(24, 24, 25) 12%, rgb(12, 12, 12) 100%);
}

.pricing-table {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  padding: 10px;
}

.btn-purple {
  background-color: rgb(121, 55, 160);
  color: white;
  border-radius: 40px;
  width: 120px;
}

.circle-one {
  border: 1px solid rgb(121, 55, 160);
  border-radius: 40px;
  width: 190px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.circle-two {
  border: 1px solid rgb(121, 55, 160);
  border-radius: 40px;
  width: 140px;
}

.planPage {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.subtitle {
  color: #E99EC2;
}

.pricing-subtitle {
  color: #E99EC2;
}

.pricing-table {
  display: flex;
  flex-direction: column;
}

.bg-button {
  width: 260px;
  margin: 20px 0;
  background-color: rgba(34, 26, 56, 0.7450980392);
  display: flex;
  justify-content: center;
}

.price {
  font-size: 16px;
  color: rgb(121, 55, 160);
}

.fa-solid {
  color: #cf4d8c;
  font-size: 30px;
}

.text-purple {
  color: rgb(121, 55, 160);
  font-size: 12px;
}

@media (max-width: 767px) {
  .pricing-table-content {
    font-size: 12px;
  }
  .pricing-table-wrapper {
    width: 33.3%;
    padding: 3px;
  }
}