@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

.pageWrapper {
    position: relative;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    z-index: 999;
    position: fixed;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.5s ease forwards;
    background-color: #1a102e;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.8);
        }
        to {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
  
.backBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}
  
.imageHeader {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $tablet-M) {
        width: 200px;
        height: 200px;
    }
    @media screen and (max-width: $phone-S) {
        width: 150px;
        height: 150px;
    }
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
  
.content {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 0 1rem;
  
    .successText {
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }
  
    .discountText {
        margin-top: 0.5rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: #fff;
        text-align: center;
  
        .percent {
            display: block;
            font-size: 2rem;
            font-weight: bold;
            color: #ff0000;
            margin-bottom: 0.25rem;
        }
    }
  
    .welcome {
        margin-top: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
        color: #c8b9e0;
        text-align: center;
    }
}
  
.footerText {
    margin-top: auto;
    padding: 1rem;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 600px;
    width: 100%;
  
    .link {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.8);
    }
}
  
/* Desktop and larger tablets */
@media (min-width: 640px) {
    .imageHeader img {
        width: 120px;
    }
  
    .content {
        .successText {
            font-size: 1.125rem;
        }
        .discountText {
            font-size: 1.5rem;
  
            .percent {
                font-size: 2.5rem;
            }
        }
        .welcome {
            font-size: 2.5rem;
        }
    }
}
  