.pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(16, 16, 61, 0.858);
}

.imageDisc {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.imageDisc img {
  width: 100%;
}

.box {
  height: 350px;
  width: 30%;
  margin: 50px auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.68);
  position: relative;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 748px) {
  .box {
    width: 80%;
  }
}
.box p {
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 748px) {
  .box p {
    margin-top: 70px;
  }
}
.box p span {
  font-size: 40px;
  color: red;
}

.boxImg {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%);
}
.boxImg img {
  width: 100%;
}

button {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(112, 32, 197);
  color: #ffffff;
  margin-top: 30px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}