/* YourComponent.module.css */

/* Style the container with overflow-y: auto */
.scroll-container {
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
  }
  
  /* Style the thumb of the scrollbar */
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #48a9a6; /* Adjust the color as needed */
  }
  
  /* Style the track of the scrollbar */
  .scroll-container::-webkit-scrollbar-track {
    background-color: #ccc; /* Adjust the color as needed */
  }
  