@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

.pageWrapper {
  width: 100%;
  height: 100vh;

  .headerWrapper {
    display: flex;
    padding-top: 10px;

    .imageHeader {
      width: 150px;
      @media screen and (max-width: $tablet-M) {
        width: 100px;
      }

      img {
        width: 100%;
      }
    }

    .header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;

      h1 {
        color: $white;
        @media screen and (max-width: $tablet-M) {
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}

// .showPrice {
//   color: $white;
//   font-size: 30px;
//   margin-top: 50px;
//   text-align: center;
// }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;
  display: none;
}

.overlay.show {
  display: block;
}

// .termsAndConditions {
//   position: absolute;
//   bottom: 0;
//   background-color: rgba(255, 255, 255, 0.748);
//   color: $footer-gray;
//   font-size: 12px;
//   p {
//     width: 70%;
//     text-align: center;
//     margin: 5px auto;

//     @media screen and (max-width: $tablet-M) {
//       width: 90%;
//       font-size: 10px;
//     }
//   }
//   a {
//     text-decoration: underline;
//   }
// }
// .wrapperArrow {
//   background-color: $arrow-blue;
//   position: absolute;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   margin-left: 10px;
//   &:hover {
//     background-color: rgba(255, 255, 255, 0.734);
//     scale: 1.1;
//   }
// }
// .arrowBack {
//   color: $white;
//   position: absolute;
//   left: 16px;
//   top: 10px;
//   font-size: 30px;
//   cursor: pointer;
//   &:hover {
//     color: $arrow-blue;
//   }
// }
