@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

.pageWrapper {
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.5s ease forwards;
  background-color: #1a102e;
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
.imageHeader {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  @media screen and (max-width: $tablet-M) {
    width: 200px;
    height: 200px;
  }
  @media screen and (max-width: $phone-S) {
    width: 150px;
    height: 150px;
  }
  img {
    width: 100%;
  }
}

.box {
  height: 500px;
  width: 20%;
  margin: 100px auto;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.7);
  position: relative;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $laptop-L) {
    height: 450px;
    width: 25%;
  }
  @media screen and (max-width: $laptop-S) {
    height: 350px;
    width: 35%;
  }
  @media screen and (max-width: $tablet-M) {
    width: 50%;
  }
  @media screen and (max-width: $tablet-S) {
    width: 60%;
  }
  @media screen and (max-width: $phone-L) {
    width: 80%;
    height: 400px;
  }
  @media screen and (max-width: $phone-S) {
    margin: 80px auto;
    width: 80%;
  }

  .boxText {
    margin-top: 80px;
    text-align: center;
    font-size: 18px;
    @media screen and (max-width: $tablet-M) {
      margin-top: 70px;
    }
    .timeLeft {
      font-size: 18px;

      .timer {
        color: red;
        font-weight: bold;
      }
    }
    .save {
      font-size: 30px;
      color: $btn-purple;
    }
    .percent {
      font-size: 50px;
      color: red;
      font-weight: bold;
    }
  }
}

.boxImg {
  width: 100%;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (max-width: $laptop-L) {
    width: 100%;
    top: -100px;
  }

  @media screen and (max-width: $phone-M) {
    width: 100%;
    top: -70px;
  }
  img {
    width: 100%;
  }
}

.wrapperBtn {
  width: 90%;

  .getSecretBtn {
    width: 100%;
    margin: 20px auto;
    background-color: $btn-purple;
    font-size: 26px;
    color: $white;
    margin-top: 30px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    @media screen and (max-width: $laptop-S) {
      font-size: 22px;
      padding: 10px;
    }
    @media screen and (max-width: $tablet-S) {
      font-size: 20px;
    }
  }
}

.wrapperExitBtn {
  background-color: $arrow-blue;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  top: 30px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.734);
    scale: 1.1;
  }
  .exitBtn {
    color: $white;
    position: absolute;
    font-size: 50px;
    padding: 5px;

    cursor: pointer;
    &:hover {
      color: $arrow-blue;
      scale: 1.1;
    }
  }
}
